In [11]:
import pandas as pd
a=pd.read_csv('https://raw.githubusercontent.com/thinh2904/Excel/main/Thinh_PC.csv')
a.head(10)

   STT Ten  Diem
0    1   A     1
1    2   S     5
2    3   D     8
3    4   F     5
4    5   G     7
5    6   J     9
6    7   K     1
7    8   G     3
8    9   K     4
9   10   P     6